.toDo {
  height: 30px;
  background: linear-gradient(90deg, rgb(15, 11, 250), rgb(119, 22, 114));
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background: linear-gradient(90deg, rgb(119, 22, 114), rgb(15, 11, 250));
  color: #fff;
  border: none;
  padding: 5px 10px;
  outline: none;
}

.input {
  color: #fff;
  font-size: 15px;
  outline: none;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(49, 37, 209, 0.842);
  font-family: "Myriad Set Pro Ultralight Кириллический";
}

.inputToDo {
  padding: none;
  border: none;
  color: #fff;
  font-size: 15px;
  outline: none;
  background: transparent;
  border-color: rgb(0, 0, 0);
  width: 90%;
  font-family: "Myriad Set Pro Ultralight Кириллический";
}

.ToDoText {
  padding: none;
  border: none;
  color: #fff;
  font-family: "Myriad Set Pro Ultralight Кириллический";
}

.btnDelete {
  cursor: pointer;
}
