.main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.cards {
  margin: 0 50px;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
  overflow-wrap: unset;
  margin-bottom: 20px;
  background: rgb(18, 6, 71);
  flex: 1;
}

.cards::-webkit-scrollbar {
  width: 0;
}

.heading {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Myriad Set Pro Ultralight Кириллический";
  padding: 40px;
}
